VistasClienteSoap/src/conf/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_8080/ServicioWeb_SOAP/WSOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioWeb_SOAP/WSOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="Registrar">
<part name="parameters" element="tns:Registrar"/>
</message>
<message name="RegistrarResponse">
<part name="parameters" element="tns:RegistrarResponse"/>
</message>
<message name="Retirar">
<part name="parameters" element="tns:Retirar"/>
</message>
<message name="RetirarResponse">
<part name="parameters" element="tns:RetirarResponse"/>
</message>
<message name="LoguinAcceso">
<part name="parameters" element="tns:LoguinAcceso"/>
</message>
<message name="LoguinAccesoResponse">
<part name="parameters" element="tns:LoguinAccesoResponse"/>
</message>
<message name="Depositar">
<part name="parameters" element="tns:Depositar"/>
</message>
<message name="DepositarResponse">
<part name="parameters" element="tns:DepositarResponse"/>
</message>
<message name="Cargardatos">
<part name="parameters" element="tns:Cargardatos"/>
</message>
<message name="CargardatosResponse">
<part name="parameters" element="tns:CargardatosResponse"/>
</message>
<portType name="WSOperaciones">
<operation name="Registrar">
<input wsam:Action="http://ws/WSOperaciones/RegistrarRequest" message="tns:Registrar"/>
<output wsam:Action="http://ws/WSOperaciones/RegistrarResponse" message="tns:RegistrarResponse"/>
</operation>
<operation name="Retirar">
<input wsam:Action="http://ws/WSOperaciones/RetirarRequest" message="tns:Retirar"/>
<output wsam:Action="http://ws/WSOperaciones/RetirarResponse" message="tns:RetirarResponse"/>
</operation>
<operation name="LoguinAcceso">
<input wsam:Action="http://ws/WSOperaciones/LoguinAccesoRequest" message="tns:LoguinAcceso"/>
<output wsam:Action="http://ws/WSOperaciones/LoguinAccesoResponse" message="tns:LoguinAccesoResponse"/>
</operation>
<operation name="Depositar">
<input wsam:Action="http://ws/WSOperaciones/DepositarRequest" message="tns:Depositar"/>
<output wsam:Action="http://ws/WSOperaciones/DepositarResponse" message="tns:DepositarResponse"/>
</operation>
<operation name="Cargardatos">
<input wsam:Action="http://ws/WSOperaciones/CargardatosRequest" message="tns:Cargardatos"/>
<output wsam:Action="http://ws/WSOperaciones/CargardatosResponse" message="tns:CargardatosResponse"/>
</operation>
</portType>
<binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retirar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoguinAcceso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargardatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperaciones">
<port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
<soap:address location="http://localhost:8080/ServicioWeb_SOAP/WSOperaciones"/>
</port>
</service>
</definitions>