ServicioWebLecturaWSDL/src/META-INF/wsdl/localhost_8080/ServicioWebSoap/Funciones_Soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="Funciones_Soap">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/ServicioWebSoap/Funciones_Soap?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Eurodolar">
<part name="parameters" element="tns:Eurodolar"/>
</message>
<message name="EurodolarResponse">
<part name="parameters" element="tns:EurodolarResponse"/>
</message>
<message name="Resta">
<part name="parameters" element="tns:Resta"/>
</message>
<message name="RestaResponse">
<part name="parameters" element="tns:RestaResponse"/>
</message>
<message name="Division">
<part name="parameters" element="tns:Division"/>
</message>
<message name="DivisionResponse">
<part name="parameters" element="tns:DivisionResponse"/>
</message>
<message name="Multiplicacion">
<part name="parameters" element="tns:Multiplicacion"/>
</message>
<message name="MultiplicacionResponse">
<part name="parameters" element="tns:MultiplicacionResponse"/>
</message>
<message name="Suma">
<part name="parameters" element="tns:Suma"/>
</message>
<message name="SumaResponse">
<part name="parameters" element="tns:SumaResponse"/>
</message>
<message name="LoguinAcceso">
<part name="parameters" element="tns:LoguinAcceso"/>
</message>
<message name="LoguinAccesoResponse">
<part name="parameters" element="tns:LoguinAccesoResponse"/>
</message>
<message name="EnergiaCinetica">
<part name="parameters" element="tns:EnergiaCinetica"/>
</message>
<message name="EnergiaCineticaResponse">
<part name="parameters" element="tns:EnergiaCineticaResponse"/>
</message>
<message name="Calcular_la_Fuerza">
<part name="parameters" element="tns:Calcular_la_Fuerza"/>
</message>
<message name="Calcular_la_FuerzaResponse">
<part name="parameters" element="tns:Calcular_la_FuerzaResponse"/>
</message>
<message name="MovimientoUniforme">
<part name="parameters" element="tns:MovimientoUniforme"/>
</message>
<message name="MovimientoUniformeResponse">
<part name="parameters" element="tns:MovimientoUniformeResponse"/>
</message>
<portType name="FuncionesSoap">
<operation name="hello">
<input wsam:Action="http://sv/FuncionesSoap/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/FuncionesSoap/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Eurodolar">
<input wsam:Action="http://sv/FuncionesSoap/EurodolarRequest" message="tns:Eurodolar"/>
<output wsam:Action="http://sv/FuncionesSoap/EurodolarResponse" message="tns:EurodolarResponse"/>
</operation>
<operation name="Resta">
<input wsam:Action="http://sv/FuncionesSoap/RestaRequest" message="tns:Resta"/>
<output wsam:Action="http://sv/FuncionesSoap/RestaResponse" message="tns:RestaResponse"/>
</operation>
<operation name="Division">
<input wsam:Action="http://sv/FuncionesSoap/DivisionRequest" message="tns:Division"/>
<output wsam:Action="http://sv/FuncionesSoap/DivisionResponse" message="tns:DivisionResponse"/>
</operation>
<operation name="Multiplicacion">
<input wsam:Action="http://sv/FuncionesSoap/MultiplicacionRequest" message="tns:Multiplicacion"/>
<output wsam:Action="http://sv/FuncionesSoap/MultiplicacionResponse" message="tns:MultiplicacionResponse"/>
</operation>
<operation name="Suma">
<input wsam:Action="http://sv/FuncionesSoap/SumaRequest" message="tns:Suma"/>
<output wsam:Action="http://sv/FuncionesSoap/SumaResponse" message="tns:SumaResponse"/>
</operation>
<operation name="LoguinAcceso">
<input wsam:Action="http://sv/FuncionesSoap/LoguinAccesoRequest" message="tns:LoguinAcceso"/>
<output wsam:Action="http://sv/FuncionesSoap/LoguinAccesoResponse" message="tns:LoguinAccesoResponse"/>
</operation>
<operation name="EnergiaCinetica">
<input wsam:Action="http://sv/FuncionesSoap/EnergiaCineticaRequest" message="tns:EnergiaCinetica"/>
<output wsam:Action="http://sv/FuncionesSoap/EnergiaCineticaResponse" message="tns:EnergiaCineticaResponse"/>
</operation>
<operation name="Calcular_la_Fuerza">
<input wsam:Action="http://sv/FuncionesSoap/Calcular_la_FuerzaRequest" message="tns:Calcular_la_Fuerza"/>
<output wsam:Action="http://sv/FuncionesSoap/Calcular_la_FuerzaResponse" message="tns:Calcular_la_FuerzaResponse"/>
</operation>
<operation name="MovimientoUniforme">
<input wsam:Action="http://sv/FuncionesSoap/MovimientoUniformeRequest" message="tns:MovimientoUniforme"/>
<output wsam:Action="http://sv/FuncionesSoap/MovimientoUniformeResponse" message="tns:MovimientoUniformeResponse"/>
</operation>
</portType>
<binding name="FuncionesSoapPortBinding" type="tns:FuncionesSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eurodolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoguinAcceso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EnergiaCinetica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Calcular_la_Fuerza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MovimientoUniforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Funciones_Soap">
<port name="FuncionesSoapPort" binding="tns:FuncionesSoapPortBinding">
<soap:address location="http://localhost:8080/ServicioWebSoap/Funciones_Soap"/>
</port>
</service>
</definitions>