ClienteConsumoSoap/xml-resources/web-service-references/Funciones_Soap/wsdl/localhost_8080/proyectSoapServer/Funciones_Soap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://sv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sv/">

<xs:element name="Diccionario" type="tns:Diccionario"/>

<xs:element name="DiccionarioResponse" type="tns:DiccionarioResponse"/>

<xs:element name="Eurodoll" type="tns:Eurodoll"/>

<xs:element name="EurodollResponse" type="tns:EurodollResponse"/>

<xs:element name="NumPrimo" type="tns:NumPrimo"/>

<xs:element name="NumPrimoResponse" type="tns:NumPrimoResponse"/>

<xs:element name="Potencia" type="tns:Potencia"/>

<xs:element name="PotenciaResponse" type="tns:PotenciaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="Potencia">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="potencia" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PotenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NumPrimo">
<xs:sequence>
<xs:element name="valor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NumPrimoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Diccionario">
<xs:sequence>
<xs:element name="Palabra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DiccionarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eurodoll">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EurodollResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>