ClienteConsumoSoap/xml-resources/web-service-references/Funciones_Soap/wsdl/localhost_8080/proyectSoapServer/Funciones_Soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="Funciones_Soap">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/proyectSoapServer/Funciones_Soap?xsd=1"/>
</xsd:schema>
</types>
<message name="Potencia">
<part name="parameters" element="tns:Potencia"/>
</message>
<message name="PotenciaResponse">
<part name="parameters" element="tns:PotenciaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Eurodoll">
<part name="parameters" element="tns:Eurodoll"/>
</message>
<message name="EurodollResponse">
<part name="parameters" element="tns:EurodollResponse"/>
</message>
<message name="NumPrimo">
<part name="parameters" element="tns:NumPrimo"/>
</message>
<message name="NumPrimoResponse">
<part name="parameters" element="tns:NumPrimoResponse"/>
</message>
<message name="Diccionario">
<part name="parameters" element="tns:Diccionario"/>
</message>
<message name="DiccionarioResponse">
<part name="parameters" element="tns:DiccionarioResponse"/>
</message>
<portType name="FuncionesSoap">
<operation name="Potencia">
<input wsam:Action="http://sv/FuncionesSoap/PotenciaRequest" message="tns:Potencia"/>
<output wsam:Action="http://sv/FuncionesSoap/PotenciaResponse" message="tns:PotenciaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sv/FuncionesSoap/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/FuncionesSoap/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Eurodoll">
<input wsam:Action="http://sv/FuncionesSoap/EurodollRequest" message="tns:Eurodoll"/>
<output wsam:Action="http://sv/FuncionesSoap/EurodollResponse" message="tns:EurodollResponse"/>
</operation>
<operation name="NumPrimo">
<input wsam:Action="http://sv/FuncionesSoap/NumPrimoRequest" message="tns:NumPrimo"/>
<output wsam:Action="http://sv/FuncionesSoap/NumPrimoResponse" message="tns:NumPrimoResponse"/>
</operation>
<operation name="Diccionario">
<input wsam:Action="http://sv/FuncionesSoap/DiccionarioRequest" message="tns:Diccionario"/>
<output wsam:Action="http://sv/FuncionesSoap/DiccionarioResponse" message="tns:DiccionarioResponse"/>
</operation>
</portType>
<binding name="FuncionesSoapPortBinding" type="tns:FuncionesSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eurodoll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumPrimo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Funciones_Soap">
<port name="FuncionesSoapPort" binding="tns:FuncionesSoapPortBinding">
<soap:address location="http://localhost:8080/proyectSoapServer/Funciones_Soap"/>
</port>
</service>
</definitions>